.scrolling-wrapper {
    display: flex;
    gap: 10px;
    overflow: hidden;
  }
  
  .scrolling-wrapper img {
    flex-shrink: 0;
    animation: scroll 20s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  